.project-gradient-container-top {
  height: 32rem;
  width: 100%;
  display: block;
  background: linear-gradient(#e8f0fa, 50%, #f3f8ff);
}

.project-gradient-container-bottom {
  height: 10rem;
  width: 100%;
  display: block;
  background: white;
}

.projects-container-column {
  background: radial-gradient(at 50% 0%, #f3f8ff, transparent 80vh),
    radial-gradient(circle at top left, #f3f8ff, transparent 80vw),
    radial-gradient(circle at top right, #f3f8ff, transparent 80vw),
    radial-gradient(at bottom left, white, transparent 80vw),
    radial-gradient(at bottom right, white, transparent 80vw),
    radial-gradient(at 50% 100%, white, transparent 80vw),
    radial-gradient(at 50% 50%, #e5dfff, #c9ffef, #f5fff4);

  /* background-image: url("../../images/bg.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 120rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 901px) {
  .projects-container-column {
    height: 150rem;
  }
}

.proj-heading-container {
  display: flex;
  width: 30rem;
}

.proj-items-container-row {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin: 3rem 0;
  height: 40rem;
  width: 30rem;
}

@media screen and (max-width: 900px) {
  .proj-items-container-row {
    flex-direction: column;
    min-width: 40vw;
    justify-content: flex-start;
  }
}

.proj-heading {
  color: #555b6d;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 600;
  position: relative;
  bottom: 20px;
  border: 0.25rem solid #555b6d;
  border-radius: 4px;
}

.proj-title {
  display: flex;
  color: #555b6d;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.2rem;
}

.proj-1,
.proj-2,
.proj-3 {
  padding: 1rem 1rem 1rem 1rem;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 42rem;
  min-width: 26rem;
  background-color: #fff;
  box-shadow: 0px 0px 100px -30px rgba(0, 0, 0, 0.25);
}

.proj-text-wrapper {
  color: #555b6d;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.1rem;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.prj-btn {
  display: block;
  color: #555b6d;
  font-family: "IBM Plex Sans", sans-serif;
  border-radius: 5px;
  background: #fff;
  white-space: nowrap;
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 1rem;
  width: 50%;
  height: 4rem;
}
.prj-btn:hover {
  background: #f7f8fb;
}

.projects-img-wrapper {
  justify-content: center;
}

.proj-img {
  padding-right: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  max-height: 21rem;
}
