.proj-container {
  display: flex;
  flex-direction: column;
  background-color: #f3f8fd;
  padding: 2rem 0;
  padding-right: 3rem;
  padding-left: 3rem;
  margin: -1rem;
}

.wrapper {
  margin: 10vh auto 10vh auto;
  padding: 10rem 5rem 15rem 5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 1400px;
  border-radius: 0.75rem;
  background: #fff;
  box-shadow: rgb(46 61 73 / 15%) 8px 10px 20px 0px;
}

.proj-heading {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  line-height: 0.8;
  font-weight: 600;
  color: #252e4d;
}
