.technologies-container {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  height: clamp(60vh, 75vh, 100%);
  width: 100%;
  background-color: #fff;
}

.tech-items-container {
  display: grid;
  grid-template-rows: 23rem 23rem 23rem;
}

.tech-heading {
  width: 100%;
  display: grid;
  grid-template-columns: 75vw;
  place-content: center;
  margin: 3rem 0 2rem calc((10vw - 2rem) - 2px);
  font-size: 6rem;
  line-height: 0.8;
  font-weight: 600;
  color: #252e4d;
  display: inline-block;
}

.tech-btn {
  margin-top: 5rem;
  display: flex;
  height: 5rem;
  background-color: #017a9b;
  border-radius: 0.8rem;
  width: 25rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.8rem 4rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (min-width: 1060px) {
  .tech-items-container {
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    grid-template-rows: 20rem 12rem;
    max-width: 1600px;
    place-content: center;
    gap: 1rem;
    padding: 2rem;
  }
}

.tech-items {
  margin: 3rem 0 2rem calc((10vw - 2rem) - 2px);
  border-left: 0.3rem solid #dbe2e8;
  padding: 0 20px;
  max-width: 20rem;
  height: auto;
}
.tech-item-1 {
}

.tech-item-2 {
}

.tech-item-3 {
}

.gradient-container-bottom {
  height: 30rem;
  width: 100%;
  display: block;
  background: linear-gradient(white, 60%, #e8f0fa);
}

.tech-items-heading {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
  color: #252e4d;
}

.tech-items h3 {
  margin-left: 0.2rem;
  max-width: 440px;
  font-size: 2rem;
  line-height: 2.8rem;
  color: "#a9b3c1";
}
