.footer-container {
  background: linear-gradient(
    linear,
    left top,
    right bottom,
    from(#fff),
    to(rgba(169, 81, 237, 0.1))
  );
  background: linear-gradient(top left, #fff 0, rgba(169, 81, 237, 0.1));
  background: linear-gradient(to bottom right, #fff 0, rgba(169, 81, 237, 0.1));
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  color: #252e4d;
}

.footer-heading-1 {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  text-align: center;
}

.footer-subheading {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.footer-subtext {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 4rem;
}

.section-title {
  margin: 15rem 15rem 3rem 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-grid {
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, 20rem);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.social-icons {
  size: 2em;
}

.bottom-text {
  margin: 1rem;
  text-align: center;
}

.bottom-content {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .bottom-text {
    margin-top: 6rem;
    font-size: 2rem;
  }

  .submit {
    font-size: 4rem;
    height: 6rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 1030px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1400px;
  }
  .bottom-text {
    margin-right: 5rem;
    text-align: right;
  }

  .bottom-content {
    justify-content: center;
    align-items: flex-end;
  }
}
