html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* box-sizing: inherit; */
}

:root {
  --bg-color-1: #01b3e4;
  --bg-color-2: #f3f8fd;
  --font-color-1: #252e4d;
  --btn-color-1: #252e4d;
  --first-color: #01b3e4;
  --second-color: #cd9cff;
  --third-color: #bfa1ea;
  --fourth-color: #fd88a9;
  --fifth-colior: #ffa134;
  --bx-shdw: rgb(46 61 73 / 15%);
}

.sticky {
  position: sticky;
  top: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

.header {
  font-size: 2rem;
}

.container {
  background-color: #fff;
  z-index: 1;
  width: 100%;
  max-width: 4000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
