.info-section-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 30px 0;
  padding-right: 50px;
  padding-left: 50px;
  margin: -1rem;
}

.info-section {
  display: flex;
  padding: 10rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
  width: 100%;
  height: auto;
  min-height: 80vh;
  max-width: 100%;
  margin-right: auto;
  margin-top: 2rem;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0.75rem;
  background: linear-gradient(134deg, #40cbe4, #9dbffa);
  box-shadow: 0px 14px 21px 4px #aac7f9;
}

.info-section-container2 {
  display: flex;
  padding: 10rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
  width: 100%;
  height: auto;
  min-height: 80vh;
  max-width: 100%;
  margin-right: auto;
  margin-top: 4rem;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0.75rem;
  background: linear-gradient(90deg, #bfa1ea, #fd88a9 99%);
  box-shadow: 0px 16px 35px 5px #bfa1ea;
}

@media screen and (max-width: 991px) {
  .info-section-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.info-row {
  display: flex;
  height: 100%;
  margin: 0 -15px -15px -15px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  flex-grow: 3;
  max-height: 675px;
}

.info-column {
  display: flex;
  height: 100%;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex: 1;
  max-width: 50%;
  flex-grow: 3;
  max-height: 675px;
  flex-basis: 50%;
}

@media screen and (max-width: 768px) {
  .info-column {
    height: auto;
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}

.text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .text-wrapper {
    padding-bottom: 65px;
  }
}

.top-line {
  color: "#a9b3c1";
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.heading {
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.subtitle {
  margin-left: 0.2rem;
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 2rem;
  line-height: 2.8rem;
  color: "#a9b3c1";
}

.btn {
  border-radius: 0.8rem;
  background-image: url(), linear-gradient(320deg, #5c74ec, #0467fb);
  white-space: nowrap;
  padding: 12px 64px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 35px -5px #0467fb;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  background-image: url(), linear-gradient(134deg, #6474fa, #0467fb);
  box-shadow: 0px 0px 35px px #0467fb;
  transition: all 0.1s ease-in;
  transform: scale(1.05);
}
@media screen and (max-width: 960px) {
  .btn {
    width: 100%;
  }
}

.btn2 {
  border-radius: 0.8rem;
  background-image: url(), linear-gradient(134deg, #418dff, #9763ff);
  white-space: nowrap;
  padding: 12px 64px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 35px -10px #418dff;
}

.btn2:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  background-color: #0467fb;
  background-image: url(), linear-gradient(320deg, #418dff, #9763ff);
  box-shadow: 0px 0px 35px -8px #418dff;
  transition: all 0.1s ease-in;
  transform: scale(1.05);
}
@media screen and (max-width: 960px) {
  .btn2 {
    width: 100%;
  }
}

.img-wrapper {
  max-width: 555px;
  display: flex;
  justify-content: flex-start;
}

.info-image {
  display: flex;
  padding-right: 0;
  border: 0;
  min-width: 50%;
  max-width: 100%;
  vertical-align: flex-start;
  align-items: center;
  max-height: 500px;
  justify-content: center;
}
