.info-section-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 2rem 0;
  padding-right: 3rem;
  padding-left: 3rem;
  margin: -1rem;
}

.info-section {
  margin: 10vh auto 10vh auto;
  display: flex;
  padding: 10rem 5rem 15rem 5rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 1400px;
  border-radius: 0.75rem;
  background: linear-gradient(160deg, #01b3e4, #cd9cff);
  box-shadow: rgb(46 61 73 / 15%) 8px 10px 20px 0px;
}

.info-section-2 {
  margin: 10vh auto 0 auto;
  display: flex;
  padding: 10rem 5rem 15rem 5rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 1400px;
  border-radius: 0.75rem;
  background: linear-gradient(90deg, #bfa1ea, #fd88a9 99%);
  box-shadow: rgb(46 61 73 / 15%) 8px 10px 20px 0px;
}

/* Some Desktop properties */

@media screen and (min-width: 991px) {
  .info-section {
    aspect-ratio: 16/9;
    padding-bottom: 10rem;
  }
  .info-section-2 {
    aspect-ratio: 16/9;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 991px) {
  .info-section-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.info-row {
  display: flex;
  height: 100%;
  margin: 0 -15px -15px -15px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  flex-grow: 3;
  max-height: 675px;
}

.info-column {
  display: flex;
  height: 100%;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex: 1;
  max-width: 50%;
  flex-grow: 3;
  max-height: 675px;
  flex-basis: 50%;
}

@media screen and (max-width: 768px) {
  .info-column {
    height: auto;
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}

.text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .text-wrapper {
    padding-bottom: 65px;
  }
}

.top-line {
  color: "#a9b3c1";
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.heading {
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.subtitle {
  margin-left: 0.2rem;
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 2rem;
  line-height: 2.8rem;
  color: "#a9b3c1";
}

.btn {
  border-radius: 0.8rem;
  background-image: url(), linear-gradient(320deg, #5c74ec, #0467fb);
  white-space: nowrap;
  padding: 1.5rem 16rem;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: rgb(46 61 73 / 15%) 8px 10px 20px 0px;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  background-image: url(), linear-gradient(134deg, #6474fa, #0467fb);
  box-shadow: rgb(46 61 73 / 15%) 8px 10px 20px 0px;
  transition: all 0.1s ease-in;
  transform: scale(1.05);
}
@media screen and (max-width: 960px) {
  .btn {
    width: 100%;
  }
}

.btn2 {
  border-radius: 0.8rem;
  background-image: url(), linear-gradient(134deg, #418dff, #9763ff);
  white-space: nowrap;
  padding: 1.5rem 16rem;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: rgb(46 61 73 / 15%) 8px 10px 20px 0px;
}

.btn2:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  background-color: #0467fb;
  background-image: url(), linear-gradient(320deg, #418dff, #9763ff);
  box-shadow: rgb(46 61 73 / 15%) 8px 10px 20px 0px;
  transition: all 0.1s ease-in;
  transform: scale(1.05);
}
@media screen and (max-width: 960px) {
  .btn2 {
    width: 100%;
  }
}

.img-wrapper {
  max-width: 555px;
  display: flex;
  justify-content: flex-start;
}

.info-image {
  display: flex;
  padding-right: 0;
  border: 0;
  min-width: 50%;
  max-width: 100%;
  vertical-align: flex-start;
  align-items: center;
  max-height: 500px;
  justify-content: center;
}
