.info-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  padding: 30px 0;
  padding-right: 50px;
  padding-left: 50px;
  margin: -5rempx;
}

.info-section-container {
  display: flex;
  padding: 10rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-top: 5rem;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 18px;
  background: linear-gradient(134deg, #40cbe4, #4688e3);
  box-shadow: 0px 14px 21px 4px #79b1d2;
}

.info-section-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 18px;
  background: linear-gradient(90deg, #ba81ff 0%, #ff6a95 99%);
  box-shadow: 0px 16px 36px 5px #ffb8cc;
}

@media screen and (max-width: 991px) {
  .info-section-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.info-row {
  display: flex;
  margin: 0 -15px -15px -15px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
  flex-direction: row;
}

.info-column {
  height: 675px;
  display: flex;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

@media screen and (max-width: 768px) {
  .info-column {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}

.text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .text-wrapper {
    padding-bottom: 65px;
  }
}

.top-line {
  color: "#a9b3c1";
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: "#a9b3c1";
}

.btn {
  border-radius: 4px;
  background: #4b59f7;
  white-space: nowrap;
  padding: 12px 64px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn :hover {
  transition: all 0.3s ease-out;
  background: #fff;
  background-color: #0467fb;
}
@media screen and (max-width: 960px) {
  .btn {
    width: 100%;
  }
}

.img-wrapper {
  max-width: 555px;
  display: flex;
  justify-content: flex-start;
}

.img {
  display: flex;
  padding-right: 0;
  border: 0;
  max-width: 100%;
  vertical-align: flex-start;
  max-height: 500px;
}

.info-image {
  display: flex;
  padding-right: 0;
  border: 0;
  max-width: 100%;
  vertical-align: flex-start;
  align-items: center;
  max-height: 500px;
  justify-content: center;
}
